body {
	background-image: url("../images/pow-star.png");
}

h1 {
	text-align: center;
}

.col-lg-8 {
	text-align: center;
	background-color: blue;
	color: white;
}

img {
	height: 150px;
	width: 150px;
}

.outer_box {
	height: 200px;
	background-color: blue;
	color: white;
}

.inner_box {
	height: 200px;
	background-color: red;
	color: white;
}

footer {
		     
	height: 75px;
	bottom: 0;
	text-align: center;
	background: #666666;
	color: white;
	border-top-color: blue;
	border-top-style: solid;
	width: 100%;
	padding-top: 25px;
}
